/*GLOBAL*/
body {
  margin: 0;
}
.container {
  overflow: hidden;
  width: 160px;
  height: 600px;
  position: relative;
}

/*FRAME 01*/
.frame-01,
.frame-02,
.frame-03,
.frame-04,
.frame-05,
.frame-06 {
  position: absolute;
}
.frame-01.typo-title--01{
  opacity: 0;
}
.frame-01.typo-subtitle--01{
  right: -200px;
  opacity: 0;
}
.frame-01.mask-01{
  width: 270px;
  height: 220px;
  overflow: hidden;
}
.frame-01.typo-episode--01{
  top: -50px;
  right: -300px;
  opacity: 0;
}
.frame-01.typo-paragraph--01{
  right: -300px;
  opacity: 0;
}
.frame-01.typo-paragraph--02{
  right: -200px;
  opacity: 0;
}
.frame-01.typo-paragraph--03{
  right: -200px;
  opacity: 0;
}
.frame-01.typo-paragraph--04{
  right: -200px;
  opacity: 0;
}
.frame-01.typo-paragraph--05{
  right: -200px;
  opacity: 0;
}

.frame-01,
.frame-02,
.frame-03,
.frame-04,
.frame-05,
.frame-06,
img,
.container{
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.bounce{
    animation-name: bounce;
    -webkit-animation-name: bounce; 
    animation-duration: 1.6s;   
    -webkit-animation-duration: 1.6s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;     
}

@keyframes bounce {
    0% {transform: translateY(0%) scaleY(0.95);}
    60%{transform: translateY(0%) scaleY(1);}
    70%{transform: translateY(0%) scaleY(0.95);}
    80%{transform: translateY(0%) scaleY(1);}   
    90%{transform: translateY(0%) scaleY(0.95);}
    100%{transform: translateY(0%) scaleY(1);}   
}

@-webkit-keyframes bounce {
    0% {-webkit-transform: translateY(0%) scaleY(0.95);}
    60%{-webkit-transform: translateY(0%) scaleY(1);}
    70%{-webkit-transform: translateY(0%) scaleY(0.95);}
    80%{-webkit-transform: translateY(0%) scaleY(1);}   
    90%{-webkit-transform: translateY(0%) scaleY(0.95);}
    100%{-webkit-transform: translateY(0%) scaleY(1);}       
}