/*GLOBAL*/
body {
  margin: 0;
}
.container {
  overflow: hidden;
  width: 160px;
  height: 600px;
  position: relative;
}

/*FRAME 01*/
.frame-01,
.frame-02,
.frame-03,
.frame-04,
.frame-05,
.frame-06 {
  position: absolute;
} 
.frame-01.img-frame--01.bounce{
  -webkit-transition: all 6s ease-out;
  -o-transition: all 6s ease-out;
  -moz-transition: all 6s ease-out;
  -ms-transition: all 6s ease-out;
  transition: all 6s ease-out;
}
.frame-01.img-frame--01{
  opacity: 0;
}
.frame-01.img-frame--02{
  opacity: 0;
  right: -300px;
}
.frame-01.img-frame--03{
  opacity: 0;
}
.frame-01.img-frame--04{
  opacity: 0;
  left: -300px;
}

.frame-01,
.frame-02,
.frame-03,
.frame-04,
.frame-05,
.frame-06,
img,
.container{
  -webkit-transition: all .6s ease-out;
  -o-transition: all .6s ease-out;
  -moz-transition: all .6s ease-out;
  -ms-transition: all .6s ease-out;
  transition: all .6s ease-out;
}

.bounce{
    animation-name: bounce;
    -webkit-animation-name: bounce; 
    animation-duration: 1.6s;   
    -webkit-animation-duration: 1.6s;
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
    transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;     
}
@keyframes bounce {
    0% {transform: translateY(0%) scaleY(0.95);}
    40%{transform: translateY(-10%) scaleY(1);}
    70%{transform: translateY(0%) scaleY(0.95);}
    80%{transform: translateY(0%) scaleY(1);}   
    90%{transform: translateY(0%) scaleY(0.95);}
    100%{transform: translateY(0%) scaleY(1);}   
}
@-webkit-keyframes bounce {
    0% {-webkit-transform: translateY(0%) scaleY(0.95);}
    60%{-webkit-transform: translateY(-10%) scaleY(1);}
    70%{-webkit-transform: translateY(0%) scaleY(0.97);}
    80%{-webkit-transform: translateY(0%) scaleY(1);}   
    90%{-webkit-transform: translateY(0%) scaleY(0.97);}
    100%{-webkit-transform: translateY(0%) scaleY(1);}       
}


.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  animation-duration: 4s; 
  -webkit-animation-duration: 4s;
  animation-timing-function: ease;    
  -webkit-animation-timing-function: ease;    
  visibility: visible !important;  
}
@-webkit-keyframes bounceInDown {
  from, 50%, 60%, 80%, 90%, 100%, to {-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
  0% {opacity: 0;-webkit-transform: translate3d(0, -100px, 0);transform: translate3d(0, -100px, 0);}
  50% {opacity: 1;-webkit-transform: translate3d(0, 25px, 0);transform: translate3d(0, 25px, 0);}
  60% {-webkit-transform: translate3d(0, -6px, 0);transform: translate3d(0, -6px, 0);}
  80% {-webkit-transform: translate3d(0, 3px, 0);transform: translate3d(0, 3px, 0);}to {-webkit-transform: none;transform: none;}
  90% {-webkit-transform: translate3d(0, -3px, 0);transform: translate3d(0, -3px, 0);}
  100% {-webkit-transform: translate3d(0, 1px, 0);transform: translate3d(0, 1px, 0);}to {-webkit-transform: none;transform: none;}
}
@keyframes bounceInDown {
  from, 50%, 60%, 80%, 90%, 100%, to {-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
  0% {opacity: 0;-webkit-transform: translate3d(0, -100px, 0);transform: translate3d(0, -100px, 0);}
  50% {opacity: 1;-webkit-transform: translate3d(0, 25px, 0);transform: translate3d(0, 25px, 0);}
  60% {-webkit-transform: translate3d(0, -6px, 0);transform: translate3d(0, -6px, 0);}
  80% {-webkit-transform: translate3d(0, 3px, 0);transform: translate3d(0, 3px, 0);}to {-webkit-transform: none;transform: none;}
  90% {-webkit-transform: translate3d(0, -3px, 0);transform: translate3d(0, -3px, 0);}
  100% {-webkit-transform: translate3d(0, 1px, 0);transform: translate3d(0, 1px, 0);}to {-webkit-transform: none;transform: none;}
}


.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease;    
  -webkit-animation-timing-function: ease;    
  visibility: visible !important;  
}
@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
  0% {opacity: 0;-webkit-transform: translate3d(-300px, 0, 0);transform: translate3d(-300px, 0, 0);}
  60% {opacity: 1;-webkit-transform: translate3d(25px, 0, 0);transform: translate3d(25px, 0, 0);}
  75% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
  90% {-webkit-transform: translate3d(5px, 0, 0);transform: translate3d(5px, 0, 0);}to {-webkit-transform: none;transform: none;}
}
@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
  0% {opacity: 0;-webkit-transform: translate3d(-300px, 0, 0);transform: translate3d(-300px, 0, 0);}
  60% {opacity: 1;-webkit-transform: translate3d(25px, 0, 0);transform: translate3d(25px, 0, 0);}
  75% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
  90% {-webkit-transform: translate3d(5px, 0, 0);transform: translate3d(5px, 0, 0);}to {-webkit-transform: none;transform: none;}
}
