/*GLOBAL*/
body {
  margin: 0;
}
.iframeContainer {
  display: block;
  position: relative;
  width: 1200px;
  height: 270px;
  overflow: hidden;
  background: url(../../bg-1200x270-clean.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000;
}
iframe {
  width: 800px;
  height: 235px;
  border: 0;
  display: block;
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 18px;
}
.interactive-area{
  display: block;
  width: 1200px;
  height: 270px;
  margin: 0 auto;
  background: url(../bg-1200x270-clean.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content {
  position: relative; 
  overflow: hidden;
  width: 800px;
  height: 235px;
  /*margin: 0 auto;*/
}

/*FRAME 01*/
.frame-01,
.frame-02,
.frame-03,
.frame-04,
.frame-05,
.frame-06 {
  position: absolute;
}
.img-frame--00,
.img-frame--01,
.img-frame--02,
.img-frame--03,
.img-frame--04,
.img-frame--05,
.img-frame--06,
.img-frame--07{
  z-index: 6;
}

.frame-01.img-frame--00{
  opacity: 0;
  top: 30px;
}
.frame-01.img-frame--01{
  opacity: 0;
  top: -30px;
}
.frame-01.img-frame--02{
  opacity: 0;
  bottom: -30px;
}
.frame-01.img-frame--03{
  opacity: 0;
}
.frame-01.img-frame--04{
  opacity: 0;
  left: -30px;
}
.frame-01.img-frame--05{
  opacity: 0;
  top: -30px;
}
.frame-01.img-frame--06{
  opacity: 0;
  right: -30px;
}
.frame-01.img-frame--07{
  opacity: 0;
}

.frame-01,
.frame-02,
.frame-03,
.frame-04,
.frame-05,
.frame-06,
img,
.container{
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.frame-01.btn{
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .1s ease-out !important;
  -o-transition: all .1s ease-out !important;
  -moz-transition: all .1s ease-out !important;
  -ms-transition: all .1s ease-out !important;
  transition: all .1s ease-out !important;
}
.frame-01.btn.btn-scaled{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  margin-top: -3px;
}
.frame-01.btn.btn-hovered{
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  margin-top: -1px;
}
.frame-01.img-frame--00{
  -webkit-transition: all 6000ms cubic-bezier(0.68, -0.30, 0.265, 1.30) !important; 
     -moz-transition: all 6000ms cubic-bezier(0.68, -0.30, 0.265, 1.30) !important; 
       -o-transition: all 6000ms cubic-bezier(0.68, -0.30, 0.265, 1.30) !important; 
          transition: all 6000ms cubic-bezier(0.68, -0.30, 0.265, 1.30) !important; /* custom */
}

.frame-01.img-frame--00.position-01{
  top: 40px;
  left: 0px;
  width: 25%;
}
.frame-01.img-frame--00.position-02{
  top: 5px;
  left: 150px;
  width: 20%;
}
.frame-01.img-frame--00.position-03{
  top: 25px;
  left: 300px;
  width: 15%;
}
.frame-01.img-frame--00.position-04{
  top: 40px;
  left: 450px;
  width: 10%;
}
.frame-01.img-frame--00.position-05{
  top: 40px;
  left: 600px;
  width: 5%;
}
.frame-01.img-frame--00.position-06{
  top:  100px;
  left: 450px;
  width: 10%;
}

.main-background.moved{
  top: initial;
}
.frame-01.fadeIn{
  opacity: 1;
  -webkit-transition: all .6s ease-out;
  -o-transition: all .6s ease-out;
  -moz-transition: all .6s ease-out;
  -ms-transition: all .6s ease-out;
  transition: all .6s ease-out;
}
.frame-01.fadeOut{
  opacity: 0;
  -webkit-transition: all .6s ease-out;
  -o-transition: all .6s ease-out;
  -moz-transition: all .6s ease-out;
  -ms-transition: all .6s ease-out;
  transition: all .6s ease-out;
}
.frame-01.leftIn{
  left: 0;
}
.frame-01.rightIn{
  right: 0;
}
.frame-01.topIn{
  top: 0;
}
.frame-01.bottomIn{
  bottom: 0;
}

/* ----------------------------------------------
 * Generated by Animista on 2017-5-10 14:6:39
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */
 
.floating{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);}    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}


.levitate {
  -webkit-animation: levitate 5s both infinite;
  -moz-animation: levitate 5s both infinite;
  animation: levitate 5s both infinite;
  -webkit-animation-timing-function: ease-in-out;    
  animation-timing-function: ease-in-out;    
}

@keyframes levitate {
  0% {transform: translate(0px, 0px) scale(1);}
  100%{transform: translate(0px, 100px) scale(1);}   
}

@-webkit-keyframes levitate {
  0% {-webkit-transform: translate(0px, 0px) scale(1);}
  100%{-webkit-transform: translate(0px, 100px) scale(1);}       
}

.bounce-in-bck {
  -webkit-animation: bounce-in-bck 6s both infinite;
  -moz-animation: bounce-in-bck 6s both infinite;
  animation: bounce-in-bck 6s both infinite;
  -webkit-animation-iteration-count: infinit; /* Safari 4.0 - 8.0 */
  animation-iteration-count: infinit;
  -webkit-animation-timing-function: ease;    
  animation-timing-function: ease;    
}

@keyframes bounce-in-bck {
  0% {transform: translateY(0%) scale(1);}
  60%{transform: translateY(0%) scale(0.8);}
  70%{transform: translateY(0%) scale(1);}
  80%{transform: translateY(0%) scale(0.9);}   
  90%{transform: translateY(0%) scale(1);}
  100%{transform: translateY(0%) scale(0.95);}   
}

@-webkit-keyframes bounce-in-bck {
  0% {-webkit-transform: translateY(0%) scale(1);}
  60%{-webkit-transform: translateY(0%) scale(0.8);}
  70%{-webkit-transform: translateY(0%) scale(1);}
  80%{-webkit-transform: translateY(0%) scale(0.9);}   
  90%{-webkit-transform: translateY(0%) scale(1);}
  100%{-webkit-transform: translateY(0%) scale(0.95);}       
}


.bounce{
  animation-name: bounce;
  -webkit-animation-name: bounce; 
  animation-duration: 6s;   
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinit; /* Safari 4.0 - 8.0 */
  animation-iteration-count: infinit;
  animation-timing-function: ease;    
  -webkit-animation-timing-function: ease;    
  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;     
}

@keyframes bounce {
  0% {transform: translateY(0%) scaleY(0.97);}
  60%{transform: translateY(0%) scaleY(1.03);}
  70%{transform: translateY(0%) scaleY(0.97);}
  80%{transform: translateY(0%) scaleY(1.03);}   
  90%{transform: translateY(0%) scaleY(0.97);}
  100%{transform: translateY(0%) scaleY(1.03);}   
}

@-webkit-keyframes bounce {
  0% {-webkit-transform: translateY(0%) scaleY(0.97);}
  60%{-webkit-transform: translateY(0%) scaleY(1.03);}
  70%{-webkit-transform: translateY(0%) scaleY(0.97);}
  80%{-webkit-transform: translateY(0%) scaleY(1.03);}   
  90%{-webkit-transform: translateY(0%) scaleY(0.97);}
  100%{-webkit-transform: translateY(0%) scaleY(1.03);}       
}

@-webkit-keyframes jello {
  from, 11.1%, to {-webkit-transform: none;transform: none;}
  22.2% {-webkit-transform: skewX(-12.5deg) skewY(-12.5deg);transform: skewX(-12.5deg) skewY(-12.5deg);}
  33.3% {-webkit-transform: skewX(6.25deg) skewY(6.25deg);transform: skewX(6.25deg) skewY(6.25deg);}
  44.4% {-webkit-transform: skewX(-3.125deg) skewY(-3.125deg);transform: skewX(-3.125deg) skewY(-3.125deg);}
  55.5% {-webkit-transform: skewX(1.5625deg) skewY(1.5625deg);transform: skewX(1.5625deg) skewY(1.5625deg);}
  66.6% {-webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);transform: skewX(-0.78125deg) skewY(-0.78125deg);}
  77.7% {-webkit-transform: skewX(0.390625deg) skewY(0.390625deg);transform: skewX(0.390625deg) skewY(0.390625deg);}
  88.8% {-webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);transform: skewX(-0.1953125deg) skewY(-0.1953125deg);}
}

@keyframes jello {
  from, 11.1%, to {-webkit-transform: none;transform: none;}
  22.2% {-webkit-transform: skewX(-12.5deg) skewY(-12.5deg);transform: skewX(-12.5deg) skewY(-12.5deg);}
  33.3% {-webkit-transform: skewX(6.25deg) skewY(6.25deg);transform: skewX(6.25deg) skewY(6.25deg);}
  44.4% {-webkit-transform: skewX(-3.125deg) skewY(-3.125deg);transform: skewX(-3.125deg) skewY(-3.125deg);}
  55.5% {-webkit-transform: skewX(1.5625deg) skewY(1.5625deg);transform: skewX(1.5625deg) skewY(1.5625deg);}
  66.6% {-webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);transform: skewX(-0.78125deg) skewY(-0.78125deg);}
  77.7% {-webkit-transform: skewX(0.390625deg) skewY(0.390625deg);transform: skewX(0.390625deg) skewY(0.390625deg);}
  88.8% {-webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);transform: skewX(-0.1953125deg) skewY(-0.1953125deg);}
}

.jello {
  -webkit-animation-name: jello;
  animation-name: jello;
  animation-duration: 0.8s; 
  -webkit-animation-duration: 0.8s;
  animation-timing-function: ease;    
  -webkit-animation-timing-function: ease;    
  visibility: visible !important;  
  -webkit-transform-origin: center;
  transform-origin: center;
}

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
  0% {opacity: 0;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3);}
  20% {-webkit-transform: scale3d(1.1, 1.1, 1.1);transform: scale3d(1.1, 1.1, 1.1);}
  40% {-webkit-transform: scale3d(.9, .9, .9);transform: scale3d(.9, .9, .9);}
  60% {opacity: 1;-webkit-transform: scale3d(1.03, 1.03, 1.03);transform: scale3d(1.03, 1.03, 1.03);}
  80% {-webkit-transform: scale3d(.97, .97, .97);transform: scale3d(.97, .97, .97);}to {opacity: 1;-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
  0% {opacity: 0;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3);}
  20% {-webkit-transform: scale3d(1.1, 1.1, 1.1);transform: scale3d(1.1, 1.1, 1.1);}
  40% {-webkit-transform: scale3d(.9, .9, .9);transform: scale3d(.9, .9, .9);}
  60% {opacity: 1;-webkit-transform: scale3d(1.03, 1.03, 1.03);transform: scale3d(1.03, 1.03, 1.03);}
  80% {-webkit-transform: scale3d(.97, .97, .97);transform: scale3d(.97, .97, .97);}to {opacity: 1;-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  animation-duration: 0.8s; 
  -webkit-animation-duration: 0.8s;
  animation-timing-function: ease;    
  -webkit-animation-timing-function: ease;    
  visibility: visible !important;  
}

@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
  0% {opacity: 0;-webkit-transform: translate3d(0, -3000px, 0);transform: translate3d(0, -3000px, 0);}
  60% {opacity: 1;-webkit-transform: translate3d(0, 25px, 0);transform: translate3d(0, 25px, 0);}
  75% {-webkit-transform: translate3d(0, -10px, 0);transform: translate3d(0, -10px, 0);}
  90% {-webkit-transform: translate3d(0, 5px, 0);transform: translate3d(0, 5px, 0);}to {-webkit-transform: none;transform: none;}
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
  0% {opacity: 0;-webkit-transform: translate3d(0, -3000px, 0);transform: translate3d(0, -3000px, 0);}
  60% {opacity: 1;-webkit-transform: translate3d(0, 25px, 0);transform: translate3d(0, 25px, 0);}
  75% {-webkit-transform: translate3d(0, -10px, 0);transform: translate3d(0, -10px, 0);}
  90% {-webkit-transform: translate3d(0, 5px, 0);transform: translate3d(0, 5px, 0);}to {-webkit-transform: none;transform: none;}
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  animation-duration: 0.8s; 
  -webkit-animation-duration: 0.8s;
  animation-timing-function: ease;    
  -webkit-animation-timing-function: ease;    
  visibility: visible !important;  
}